// Header
$background-color1: #fff;

// kolory czcionek
$text-color-black: black;
$text-color-blue: #035eae; 
$text-color-violet: #6d0091;
$text-color-white: #fff;  


// margin-sections
$margin-sections: 5vh;


