$gutter: 0;
$container-max-width: 1000px;

@mixin grid($colsNumber) {
    @for $i from 1 through $colsNumber {
        .col-#{$i} {
            flex: 0 0 (100% / $colsNumber) * $i;
        }
    }
}

.container {
    max-width: $container-max-width;
    width: 100%;
    margin: 0 auto;
    padding-left: $gutter;
    padding-right: $gutter;
    position: relative; 
    
    // background-color: green;

    .row {
        // width: calc(100% + #{2 * $gutter});
        margin-left: -$gutter;
        margin-right: -$gutter;
        display: flex;
        flex-direction: column;
        // background-color: blue;

        [class*="col-"] {
            flex: 0 0 100%;
            padding-left: $gutter;
            padding-right: $gutter;
            margin-bottom: $gutter;
        }

        @media screen and (min-width: 640px) {
            flex-direction: row;
            @include grid(12);
        }
    }
}
section.contShadow{
    box-shadow: 0px 13px 5px 0px rgba(0,0,0,0.75);
}
