@keyframes show {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide {

    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.show {
    animation: show 3s;
    animation-iteration-count: 1
}

.hide {
    animation: hide 3s;
    animation-iteration-count: 1
}